@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app > * {
  width: 100%;
}

/* ********** Misc. ********** */

.separator {
  width: 80%;
  border-bottom: 1px solid #212121;
}

/* ********** Media Queries ********** */

@media screen and (min-width: 840px) {
  html {
    font-size: 1.2rem;
  }

  .title-text-champion-name-side {
    margin: 0 2rem;
  }

  .match-details-score {
    margin: 0 1rem;
  }

  .team-display-name-abb {
    display: none;
  }
  .team-display-name {
    display: inline-block;
  }

  .team-display-logo {
    margin: 0 1rem;
    width: 5rem;
    height: 5rem;
  }
}
