/* ********** Page ********** */

.about {
  width: 100%;
}

/* ********** Content ********** */

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.about-content-container > * {
  margin: 0.5rem 0;
  text-align: center;
}
